#frame{
    width: 90%;
    margin:auto;
    background-color: #FFF;
}
#banner, #w3c{
    font-weight: bold;
    color: gray;
    padding:1em;
}
#main{
    text-align: center;
}
#main fieldset{
    width: 50%;
    margin:auto;
}
#main > table{
    width: 80%;
    margin:auto;
}
body{
    background-color: #a09f8b;
    font-family: Arial;
}
tr{
    border: 1px solid #a09f8b;
}
tr:nth-child(2n + 2){
    background-color: #a09f8b;
}
th{
    font-weight: bold;
}
h1{
    color: #a09f8b;
    font-weight: bold;
    font-size: 18pt;
}



